<div class="container-fluid">
  <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
  LUMENS APP
    </span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>

<a [routerLink]="['/login']">
  <button mat-button>
  Login
</button>
</a>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>






  <div class="row" >
    <div class="card">
<div class="card card-1 col-md-12">
<router-outlet></router-outlet>

</div>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
